<div class="formRevisar">
  <div mat-dialog-title>
    MASIVO VIP
    <p>
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        Seleccionar Archivo
      </button>

      {{nombreArchivoSeleccionado}}
      <!-- Utiliza MatFormField para un mejor estilo -->
      <mat-form-field style="width: 95%" style="display: none">
        <input matInput type="file" #fileInput (change)="onFileSelected($event)" />
        <!-- Muestra el nombre del archivo seleccionado -->
        <!--<input matInput placeholder="Archivo Seleccionado" [(ngModel)]="nombreArchivoSeleccionado" [readonly]="true" />-->
      </mat-form-field>
    </p>
  </div>

  <div mat-dialog-content>
    <div *ngIf="datos && datos.length > 0">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>DOCUMENTO</th>
            <th>NOMBRE</th>
            <th>SALA</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of datos; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ d[1] }}</td>
            <td>{{ d[0] }}</td>
            <td>{{ d[2] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>

  <div mat-dialog-actions>
    <!-- Utiliza [disabled] en lugar de [disabled]="false" -->
    <button mat-raised-button [disabled]="!nombreArchivoSeleccionado" class="btnValidar" (click)="btnSave()">OK</button>
    <button mat-button (click)="onNoClick()">Cancelar</button>
  </div>
</div>
