<div *ngIf=true class="p-4 dark:bg-gray-900">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
    <div class="container" style="margin:20px" >
      <div style="width:100%; display:display-inline;">
        <div style="width:95%; float:center; min-width: 550px; margin:10px">
          <h2 class="text-4xl font-extrabold dark:text-white">Cumpleaños</h2> 
          <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
          <div class="relative max-w-sm">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" 
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 
                2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
              </svg>
            </div>
           <p style="margin:-10px">
            <mat-form-field appearance="fill">
              <mat-label>Fecha:</mat-label>
              <input matInput [matDatepicker]="dp3" disabled [(ngModel)]="fecha" #ref (dateChange)="change(ref.value)">
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>
          </p>    
          </div>
            <mat-form-field appearance="fill" style="display:display-inline">
              <mat-label>Búsqueda</mat-label>
              <input matInput (keyup)="applyFilterList($event)" placeholder="Escribe algo para buscar" #input1>
          </mat-form-field>
          <div class=" relative overflow-x-auto shadow-md sm:rounded-lg mat-elevation-z8" style="width:100%;">
              <table class="w-full text-sm text-left rtl:text-right
              text-gray-500 dark:text-gray-400"
              mat-table style="width:100%;" [dataSource]="dataSourceHB" matSort multiTemplateDataRows>
    
                <ng-container matColumnDef="doc">
                  <th class="bg-gray-50 border-b dark:bg-gray-800
                  dark:border-gray-700" mat-header-cell *matHeaderCellDef mat-soclass="bg-white border-b dark:bg-gray-800 dark:border-gray-700" rt-header> N° DOCUMENTO </th>
                  <td class="px-6 py-4 font-medium
                  text-gray-900 whitespace-nowrap dark:text-white" mat-cell *matCellDef="let a"> {{a.doc_number}}</td>
                </ng-container>
    
                <ng-container matColumnDef="name">
                  <th class="bg-gray-500 border-b dark:bg-gray-800
                  dark:border-gray-700" mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                  <td  class="px-6 py-4 font-medium
                  text-gray-900 whitespace-nowrap dark:text-white" mat-cell *matCellDef="let a"> {{a.first_name+' '+a.paternal_surname}}</td>
                </ng-container>
    
                <ng-container matColumnDef="birth_date">
                  <th class="bg-gray-50 border-b dark:bg-gray-800
                  dark:border-gray-700" mat-header-cell *matHeaderCellDef mat-sort-header> FECHA NAC. </th>
                  <td  class="px-6 py-4 font-medium
                  text-gray-900 whitespace-nowrap dark:text-white" mat-cell *matCellDef="let a"> {{ a.birth_date | date:'d \'de\' MMMM' }}</td>
                </ng-container>
    
                <ng-container matColumnDef="house">
                  <th class="bg-gray-50 border-b dark:bg-gray-800
                  dark:border-gray-700" mat-header-cell *matHeaderCellDef mat-sort-header> DOMICILIO </th>
                  <td class="px-6 py-4 font-medium
                  text-gray-900 whitespace-nowrap dark:text-white" mat-cell *matCellDef="let a"> Mz:{{ a.block_house || '-' }} Lt:{{ a.lot != null ? a.lot : '-' }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['doc','name','birth_date','house'];"></tr>
                <tr mat-row *matRowDef="let row; columns: ['doc','name','birth_date','house']"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="6">No se encontró "{{input1.value}}"</td>
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Página"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



