<div *ngIf=true class="p-4 sm:ml-64 dark:bg-gray-900">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
    <div class="container" style="margin:20px" >

      <div style="width:100%; display:display-inline;">
        <div style="width:95%; float:center; min-width: 550px; margin:10px">
          <h2>Historial : </h2>
          
          <p >
            <mat-form-field appearance="fill" >
              <mat-label>Punto de acceso:</mat-label>
              <mat-select [(value)]="access_point" (selectionChange)="salaChange()">
                  <mat-option *ngFor="let s of accessPoints" [value]="s.ap_location">{{s.ap_location | uppercase }}</mat-option>
              </mat-select>
            </mat-form-field>
    
            <!------- Date Picker ---------->
            <mat-form-field appearance="outline">
              <mat-label>Elija un rango:</mat-label>
              <mat-date-range-input [rangePicker]="picker" disabled #ref>
                <input matStartDate placeholder="Fecha inicial" [(ngModel)]="fecha_inicial">
                <input matEndDate placeholder="Fecha final" [(ngModel)]="fecha_final" (dateChange)="change(ref.value)">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
            </mat-form-field>   
          </p>
    
          <mat-form-field appearance="standard" style="display:display-inline">
              <mat-label>Búsqueda</mat-label>
              <input matInput (keyup)="applyFilterList($event)" placeholder="Escribe algo para buscar" #input1>
          </mat-form-field>
    
          <button mat-raised-button (click)="exporter2.exportTable('xlsx',{fileName:'Reporte de ingresos por fecha'})">EXPORTAR EXCEL</button>
    
          <div class="table-responsive" style="overflow-x:auto;"> 
            <div class="mat-elevation-z8" style="width:100%;">
                <table mat-table matTableExporter style="width:100%;" 
                  [dataSource]="dataSourceHistory" matSort multiTemplateDataRows 
                  #exporter2="matTableExporter">
      
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO </th>
                    <td mat-cell *matCellDef="let a">
                      <mat-icon *ngIf="a.type=='VEHÍCULO'">directions_car</mat-icon>
                      <mat-icon *ngIf="a.type=='PERSONA'">person</mat-icon>
                    </td>
                  </ng-container>
      
                  <ng-container matColumnDef="doc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DOCUMENTO </th>
                    <td mat-cell *matCellDef="let a"> {{a.doc_number}}</td>
                  </ng-container>
      
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DATOS </th>
                    <td mat-cell *matCellDef="let a"> {{a.name}}</td>
                  </ng-container>
      
                  <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DOMICILIO </th> 
                    <td mat-cell *matCellDef="let a"> {{a.house_address}}</td>
                  </ng-container>
      
                  <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CHECK-IN </th>
                    <td mat-cell *matCellDef="let a"> {{a.date_entry}}</td>
                  </ng-container>
      
                  <ng-container matColumnDef="hora">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CHECK-OUT </th>
                    <td mat-cell *matCellDef="let a"> {{a.date_exit}}</td>
                  </ng-container>
      
                  <ng-container matColumnDef="obs">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RESULTADO </th>
                    <td mat-cell *matCellDef="let a" > {{a.obs|uppercase}}</td>
                  </ng-container>

                  <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> OPERARIO </th> 
                    <td mat-cell *matCellDef="let a"> {{a.operator}}</td>
                  </ng-container>
          
                  <ng-container matColumnDef="indicador">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
                    <td mat-cell *matCellDef="let a" >
                      <mat-icon *ngIf="a.obs=='PERMITIDO' || a.obs=='permitido'" style="color:rgb(14, 132, 14)">check</mat-icon>
                      <mat-icon *ngIf="a.obs=='DENEGADO' || a.obs=='denegado'" style="color:rgb(147, 14, 14)">block</mat-icon>
                      <mat-icon *ngIf="a.obs=='RESTRINGIDO' || a.obs=='restringido'" style="color:orange">warning</mat-icon>
                    </td>
                  </ng-container>
      
                  <ng-container matColumnDef="vis">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> VISITAS </th>
                    <td mat-cell *matCellDef="let a"> {{a.visits}}
                      <button mat-icon-button *ngIf="a.visits>1" (click)="viewDetail(a)">
                        <mat-icon style="color:rgb(23, 71, 113)">search</mat-icon>
                      </button>
                      <button mat-icon-button *ngIf="a.obs=='DENEGADO'" (click)="viewLudops()">
                        <mat-icon style="color:rgb(23, 71, 113)">description</mat-icon>
                      </button>
                    </td>
                  </ng-container>
      
      
                  <tr mat-header-row *matHeaderRowDef="['type','doc','name','age','fecha','hora','obs','gender','indicador','vis'];"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['type','doc','name','age','fecha','hora','obs','gender','indicador','vis'];"></tr>
      
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6">No se encontró "{{input1.value}}"</td>
                  </tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[100, 200, 300, 400]" aria-label="Página">
            </mat-paginator>
          </div>

        </div>
    
      </div>
    
    </div>
  </div>
</div>



