<section >
  <div class=" flex items-center justify-center h-screen bg-repeat-y bg-cover bg-fixed  hover:bg-fixed  bg-local transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0      "style="background-image: url('http://52.5.47.64/VC/Media/Backgrounds/BG-INGRESO-VC5.png')">
  <div class="flex   flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-8 h-8 mr-2" [src]="systemClient.client_logo" alt="logo">
            CONTROL DE INGRESO    
          </a>
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
              Iniciar Sesión
          </h1>
          <form class="space-y-4 md:space-y-6" action="#">
              <div>
                  <label for="username_system" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Nombre de usuario
                  </label>
                  <input matInput type="username_system" name="username_system" id="username_system" 
                    [(ngModel)]="username_system" required
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-amber-500 focus:border-amber-600 
                  block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-amber-500
                  dark:focus:border-focus"  placeholder="username_system" required="">
              </div>
              <div>
                  <label for="password_system" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Contraseña
                  </label>
                  <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    </div>
                    <input matInput type="password_system" name="password_system" id="password_system" placeholder="••••••••"
                    [(ngModel)]="password_system" [type]="hide ? 'password_system' : 'text'" required (keyup.enter)="log.click()"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-amber-500 focus:border-amber-600 
                    block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-amber-500
                    dark:focus:border-focus" required="">
                      <mat-icon class="text-black absolute end-2.5 bottom-2.5 focus:ring-4 focus:outline-none font-normal rounded-lg text-balance px-0.1 py-1 " matSuffix (click)="hide = !hide"> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                  </div>

              <button type="submit" [disabled]="isloading" #log (click)="login()" 
              class="!bg-amber-600 w-full text-white hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-bg-amber-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              {{ isloading ? 'Cargando...' : 'Ingresar' }}
              </button>
          </form>
          </div>
      </div>
  </div>
</div>
</section>