<div class="contenedor-padre">
  <mat-toolbar class="barra"  id="barra" *ngIf="user.first_name!=''">
    <mat-toolbar-row >
      <button (click)="cajon.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        CONTROL DE INGRESO&nbsp;
      </span>
      <span class="example-spacer"></span>
      <button mat-raised-button (click)="logout()">
        <mat-icon>logout</mat-icon>Cerrar sesión
      </button>

    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="contenido">
    <mat-sidenav closed style="width: 200px; background-color:  #660498; color: whitesmoke;" #cajon mode="side">
      <mat-nav-list style="padding-top:0px;">
        <p style="margin-top:0px;margin-bottom: 0px; text-align: center;">
          <img *ngIf="user.gender=='MASCULINO'" style="width: 180px; height: 180px; border-radius: 50%; margin-top: 20px; margin-bottom: 5px;" class="mat-elevation-z8" mat-image src="assets/user-male.png"  VSPACE="20">
          <img *ngIf="user.gender=='FEMENINO'" style="width: 180px; height: 180px; border-radius: 50%; margin-top: 20px; margin-bottom: 5px;" class="mat-elevation-z8" mat-image src="assets/user-female.png"  VSPACE="20">
          <img *ngIf="user.gender!='MASCULINO'&&user.gender!='FEMENINO'&&user.first_name=='LOSS PREVENTION'" style="width: 180px; height: 180px; border-radius: 50%; margin-top: 20px; margin-bottom: 5px;" class="mat-elevation-z8" mat-image src="assets/loss_prevention.png"  VSPACE="20">
        </p>
        <a>
          <h3 style="text-align:center; margin: 10px;">{{user.first_name+' '+user.paternal_surname}}</h3>
          <p style="text-align:center; margin: 10px;">
            <br/>
            <a style="font-weight:bold;">AREA: </a>
            <a style="font-weight:normal;">{{user_area.name}}</a>
            <br/>
          </p>
          <p style="text-align:center; margin: 10px;">
            <a style="font-weight:bold;">SEDE: </a>
            <a style="font-weight:normal;">{{user_campus.name}}</a>
            <br/>
          </p>
        </a>

        <a mat-list-item class="navItem" routerLink="/">
          <mat-icon class="icon1" >dashboard</mat-icon>
          Dashboard
        </a>
        <a mat-list-item class="navItem" routerLink="/listas">
          <mat-icon class="icon4" >category</mat-icon>
          Listas
        </a>
        <a mat-list-item class="navItem" routerLink="/hb">
          <mat-icon class="icon2" >cake</mat-icon>
          Cumpleaños
        </a>
        <a mat-list-item class="navItem" routerLink="/history">
          <mat-icon class="icon3" >history</mat-icon>
          Historial
        </a>
        <a mat-list-item class="navItem" routerLink="/upload">
          <mat-icon class="icon5" >upload_file</mat-icon>
          Subir PDF
        </a>

        <a mat-list-item style="align-content: center;">
          <a mat-stroked-button color="secundary">Oscorp Technology</a>
        </a>

      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content class="fondo">
      <router-outlet style="height: 100%;"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
