<div *ngIf=true class="p-4 sm:ml-64 dark:bg-gray-900">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
    <div class="container" style="margin: 20px;" >
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" color="accent">
          <mat-tab label="CARGAR PDF" class="tabWare">
              <div style="width:100%;display:display-inline;text-align: center;">
                  <br>
                  <br>
                  <br>
                  {{docname}}
                  <p style="align-content: center;text-align: center;">
                      <input (change)="onFileChange($event)" #npt class="form-control" type="file" id="formFile" style="display: none;">
                      <button class="button-up" (click)="npt.click()" mat-raised-button style="background-color: rgb(23, 71, 113); color:white;">
                          <mat-icon>cloud_upload</mat-icon>
                          CLICK AQUÍ
                      </button>
                  </p>
                  <br>
                  <br>
                  RECUERDE nombre del archivo: "Sistema consulta de Ludopatía.pdf"
              </div>
          </mat-tab>
          <mat-tab label="LISTA DE LUDOPATAS" class="tabWare">
              <mat-form-field appearance="standard" style="display:display-inline">
                  <mat-label>Búsqueda</mat-label>
                  <input matInput (keyup)="applyFilterD($event)" placeholder="Escribe algo para buscar" #input1>
              </mat-form-field>
              <div class="mat-elevation-z8" style="width:100%;">
                  <table mat-table style="width:100%;" [dataSource]="dataSourceLudop" matSort multiTemplateDataRows>
                    <ng-container matColumnDef="code">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> N° REGISTRO </th>
                      <td mat-cell *matCellDef="let a"> {{a.code}}</td>
                    </ng-container>
      
                    <ng-container matColumnDef="type_doc">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO DE DOC </th>
                      <td mat-cell *matCellDef="let a"> {{a.type_doc}}</td>
                    </ng-container>
      
                    <ng-container matColumnDef="doc_number">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> N° DOCUMENTO </th>
                      <td mat-cell *matCellDef="let a"> {{a.doc_number}}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> PERSONA INSCRITA </th>
                      <td mat-cell *matCellDef="let a"> {{a.name}}</td>
                    </ng-container>   
    
                    <ng-container matColumnDef="edit">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> EDITAR </th>
                      <td mat-cell *matCellDef="let a; let i=index">
                        <button *ngIf="a.type_doc=='CE'" mat-icon-button color="primary" (click)="editarLudop(a)"> <mat-icon> edit </mat-icon> </button>&nbsp;
                      </td>
                    </ng-container>
                    
    
                    <tr mat-header-row *matHeaderRowDef="['code','type_doc','doc_number','name','edit'];"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['code','type_doc','doc_number','name','edit'];"></tr>
      
      
      
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="6">No se encontró "{{input1.value}}"</td>
                    </tr>
                  </table>
      
                  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Página"></mat-paginator>
              </div>
          </mat-tab>
      </mat-tab-group>
  </div>
  </div>
</div>


