<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto p-4">
      <a href="https://flowbite.com" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
      </a>
      <div class="flex items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">
          <a href="#" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Login</a>
          <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Sign up</a>
          <button data-collapse-toggle="mega-menu" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mega-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
              </svg>
          </button>
      </div>
      <div id="mega-menu" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
          <ul class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse">
              <li>
                  <a href="#" class="block py-2 px-3 text-blue-600 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-blue-500 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">Home</a>
              </li>
              <li>
                  <button id="mega-menu-dropdown-button" data-dropdown-toggle="mega-menu-dropdown" class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
                      Company <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
</svg>
                  </button>
                  <div id="mega-menu-dropdown" class="absolute z-10 grid hidden w-auto grid-cols-2 text-sm bg-white border border-gray-100 rounded-lg shadow-md dark:border-gray-700 md:grid-cols-3 dark:bg-gray-700">
                      <div class="p-4 pb-0 text-gray-900 md:pb-4 dark:text-white">
                          <ul class="space-y-4" aria-labelledby="mega-menu-dropdown-button">
                              <li>
                                  <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                                      About Us
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                                      Library
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                                      Resources
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                                      Pro Version
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <div class="p-4 pb-0 text-gray-900 md:pb-4 dark:text-white">
                          <ul class="space-y-4">
                              <li>
                                  <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                                      Blog
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                                      Newsletter
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                                      Playground
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                                      License
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <div class="p-4">
                          <ul class="space-y-4">
                              <li>
                                  <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                                      Contact Us
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                                      Support Center
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                                      Terms
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </li>
              <li>
                  <a href="#" class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Team</a>
              </li>
              <li>
                  <a href="#" class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
              </li>
          </ul>
      </div>
  </div>
</nav>








<body >
  <div class="container" style="margin:20px; text-align:center; max-height:100%;" >

    <!-- <h1>DASHBOARD</h1> -->

    <mat-grid-list cols="10" rowHeight="2:1" >
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <img mat-card-image class="box" id="box1" [src]="logoSrc" width="100%">
      </mat-grid-tile>


      <mat-grid-tile [colspan]="3" [rowspan]="3">
        <mat-card style="width: 100%; height:100%; text-align: left; border-radius: 20px;  ">
          <h4>
            RESUMEN DEL PERIODO
          </h4>
          <p>
            <mat-icon>person</mat-icon>&nbsp;Total de clientes: {{numberClients}}
          </p>
          <p>
            <mat-icon>person_add</mat-icon>&nbsp;Clientes nuevos: {{numberClientsNew}}
          </p>
          <p>
            <mat-icon>functions</mat-icon>&nbsp;Media de ingresos por dia: {{numberClientsAverage}}
          </p>

        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="3" [rowspan]="3">
        <mat-card style="width: 90%; height:90%; text-align: left; border-radius: px;">
          <h4>

          </h4>
          <p>
            <mat-icon>group</mat-icon>&nbsp;Mayor afluencia: {{horaTop}} horas
          </p>
          <p>
            <mat-icon>elderly</mat-icon>&nbsp;Edad con mayor afluencia: {{edadTop}}
          </p>
          <p>
            <mat-icon>home</mat-icon>&nbsp;Distrito con mayor afluencia: {{distritoTop}}
          </p>

        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="3" [rowspan]="3">
        <mat-card style="width: 90%; height:80%; text-align: left; border-radius: 10px;">
          <h4>

          </h4>
          <p>
            <mat-icon>restart_alt</mat-icon>&nbsp;Más que el periodo anterior
          </p>
          <p>
            <mat-icon>verified</mat-icon>&nbsp;De retención
          </p>
          <p>
            <mat-icon>smart_toy</mat-icon>&nbsp;
          </p>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="sala" id="sala" appearance="fill" style="width:100% ; font-size: 13px;">
          <mat-label>Sala:</mat-label>
          <mat-select [(value)]="salaCmbBox" [disabled]="salaDisabled" (selectionChange)="salaChange()">
              <mat-option *ngFor="let s of salaVar" [value]="s">{{s}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>


      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="mes" id="mes" appearance="fill" style="width:100% ; font-size: 13px;">
          <mat-label>Mes:</mat-label>
          <mat-select [(value)]="mesCmbBox" [disabled]="mesDisabled" (selectionChange)="mesChange()">
              <mat-option *ngFor="let m of meses" [value]="m">{{m}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="3" [rowspan]="4">

        <google-chart
        [type]="typeAge"
        [data]="age"
        [options]="optionsAge"
        [title]="titleAge"
        [columns]="columnsAge"
        style="width: 98%; height:98%;">
        </google-chart>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2" [rowspan]="8">
        <google-chart
        [type]="typeHours"
        [data]="hours"
        [options]="optionsHours"
        [title]="titleHours"
        [columns]="columnsHours"
        style="width: 98%; height:98%;">
        </google-chart>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="4" [rowspan]="8">
        <google-chart
        [type]="typeAddress"
        [data]="address"
        [options]="optionsAddress"
        [title]="titleAddress"
        [columns]="columnsAddress"
        style="width: 98%; height:98%;">
        </google-chart>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="dia" id="dia" appearance="fill" style="width:100% ; font-size: 13px;">
          <mat-label>Dia:</mat-label>
          <mat-select [(value)]="diaCmbBox" [disabled]="diaDisabled" (selectionChange)="diaChange()">
              <mat-option *ngFor="let d of dias" [value]="d">{{d}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="fecha" id="fecha" appearance="fill" style="width:100% ; font-size: 12px;">
          <mat-label>Fecha:</mat-label>

          <mat-date-range-input [rangePicker]="picker" [disabled]="fechaDisabled">
            <input matStartDate [(ngModel)]="fechaCmbBoxStart" placeholder="Desde">
            <input matEndDate [(ngModel)]="fechaCmbBoxEnd" placeholder="Hasta" (dateChange)="fechaChange()">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker [disabled]="fechaDisabled"></mat-date-range-picker>

        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="8">

      </mat-grid-tile>

      <mat-grid-tile [colspan]="3" [rowspan]="4">
        <google-chart
        [type]="typeFechas"
        [data]="fechas"
        [options]="optionsFechas"
        [title]="titleFechas"
        [columns]="columnsFechas"
        style="width: 98%; height:98%;">
        </google-chart>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="9" [rowspan]="4">
        <google-chart
        [type]="typeMensual"
        [data]="mensual"
        [options]="optionsMensual"
        [title]="titleMensual"
        [columns]="columnsMensual"
        style="width: 100%; height:100%;">
        </google-chart>
      </mat-grid-tile>

    </mat-grid-list>


  </div>

</body>
